@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
body{
    background-image: url('./bg.png');
    background-position: center center;
    font-family: 'Poppins', sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

a {
    color: #c20965;
    text-decoration: none;
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
}

a:hover {
    color: #070069;
    text-decoration: none;
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
}

#chat-form{
    font-size:1.0rem;
    color:rgb(209, 79, 187);
    text-align:center;
    margin:auto;
    margin-top:17rem;
    font-family: 'Poppins', sans-serif;
    width:20rem;
}

#chat-form select{
    width:20rem;
}